<h2><?=$registr_lang;?></h2>
<div class="error_message"></div>
<form id="reg_form" class="form_js" method="post" onsubmit="validate(event,'<?=$_SESSION["USER_LANGUAGE"]."_error";?>');"  action="../web/register.php" ENCTYPE="multipart/form-data">

        <input type="text" name="login" placeholder="<?=$name_lang;?>">


        <input type="password" name="password" placeholder="<?=$password_lang;?>">


        <input type="email" name="email" placeholder="<?=$email_lang;?>" >


        <textarea  name="about" placeholder="<?=$about_lang;?>" ></textarea>


        <input type="file" value="fileupload" name="userfile">

        <input  value="<?=$send_button_lang;?>"   type="submit">
</form>